@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: blue;

body {
  font-family: $font;
  color: $primary-color;
}
h1 {
  color: red;
  margin: 0;
}
h3 {
  margin: 0;
}
ul {
  color: green;
  margin-top: 0;
}
p {
  margin: 0;
}

*[id*='PostList']{
  margin: 0 1.2rem;
  color:brown;
}